*{
    margin: 0;
    padding: 0;
    border:0;
}
.mainIndex {
    display: block;
    /*display: none;*/
    width: 335px;
    height: 740px;
    margin: 50px auto;
    border-radius: 10px;
    position: relative;
    box-shadow: 10px -10px 15px -2px rgba(123, 122, 127, 0.87);
}
p:hover{
    cursor: default;
}
button:hover{
    cursor: default;
}
.hidden{
    z-index: 11;
    position: absolute;
    top:0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
}
.makeNewFriends{
    display: none;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: #d9d9d9;
    z-index: 12;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 220px;
    border: 1px solid black;

}
.makeNewFriends>.head-title{
    background: #00b3fe;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.makeNewFriends input {
    outline: none;
    background: lightgoldenrodyellow;
    border-radius: 10px;
    margin: 60px auto;
    display: block;
    width: 200px;
    height: 50px;
    font-size: 15px;
    color: gainsboro;
    text-align: center;
    line-height: 50px;
}
.makeNewFriends button:hover{
    font-size: 23px;
}
.makeNewFriends button{
    border-radius: 5px;
    display: block;
    width: 70px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    left: 55px;
    top:150px;
    background: red;
    color: black;
}
.makeNewFriends button:last-child{
    left: 165px;
    background: green;
    color: black;
}

.friendApplyList {
    display: none;
    z-index: 12;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 400px;
}
.friendApplyList .top {
    width: 100%;
    height: 30px;
    background: #00b3fe;
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}
.friendApplyList .list{
    overflow: scroll;
    height: 320px;
    width: 100%;
    background: white;
}
.friendApplyList .list::-webkit-scrollbar {
    width: 0;
}
.friendApplyList .list::-webkit-scrollbar-thumb {
    height: 40px;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: inset 105px -105px 47px -9px rgba(118, 116, 119,0.63);
}
.friendApplyList .list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(180, 180, 180, .5);
    border-radius: 10px;
}
.friendApplyList .list .OneUser {
    width: 100%;
    height: 60px;
}
.friendApplyList .list .OneUser .img {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px 0 0 15px;
    border-radius: 25px;
}
.friendApplyList .list .OneUser .middle {
    height: 50px;
    width: 150px;
    float: left;
    margin:5px 0 0 10px;
}
.friendApplyList .list .OneUser .middle .p_top{
    width: 100%;
    height: 15px;
    text-align: left;
    font-size: 10px;
    margin-top: 5px;
}
.friendApplyList .list .OneUser .middle .p_bottom{
    width: 100%;
    height: 15px;
    text-align: left;
    font-size: 10px;
    margin-top: 10px;
}
.friendApplyList .list .OneUser .right {
    height: 50px;
    width: 50px;
    float: right;
    margin-right: 10px;
}
.friendApplyList .list .OneUser .right .button_top {
    width: 50px;
    height: 20px;
    margin-top: 5px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    background: red;
}
.friendApplyList .list .OneUser .right .button_bottom {
    width: 50px;
    height: 20px;
    margin-top: 10px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    background: green;
}
.friendApplyList .bottom{
    background: gray;
    width: 100%;
    height: 50px;
    position: relative;
}
.friendApplyList .bottom button{
    width: 80px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
}
.friendApplyList .bottom button{
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    background: red;
    color: whitesmoke;
}